//SCSS HEX
$rose: #f72585ff;
$grape: #7209b7ff;
$zaffre: #3a0ca3ff;
$neon-blue: #4361eeff;
$vivid-sky-blue: #4cc9f0ff;

//SCSS Gradient _/

$gradient-top-left: linear-gradient(
  225deg,
  #f72585ff,
  #7209b7ff,
  #3a0ca3ff,
  #4361eeff,
  #4cc9f0ff
);
